<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>오픈 채팅 방</title>
    <!-- Lato Font CDN -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Your Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/view.css">
</head>
<body>
    <header class="header">
        <h1>오픈 채팅 방</h1>
    </header>
    <form action="/titles" method="post">
        <p>
            <input type="text" name="title", placeholder="title">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</body>
