body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
/* header */
.header{
    height: 150px;
    background-color: #725253;
}

.header h1{
    color: white;
    font-family: 'KoPub바탕체', serif;
    text-align: center;
}
